%h1 New semester

= render 'form'

- if @semester.year_id
  = link_to 'Back to Year', year_path(@semester.year_id), class: 'link-button'
- else
  = link_to 'Back to Semesters', semesters_path, class: 'link-button'
