.form-card-container
  = link_to uni_module_path(@uni_module), class:'unstyle-link font-secondary mb-1' do
    %i.fa-solid.fa-arrow-left
    %span="Back to #{@uni_module.code} - #{@uni_module.name}"

  .gt-empty-card.gt-form
    .heading
      %h1 New Timelog

    .body
      = render 'form'