.form-card-container
  = turbo_frame_tag "modules" do
    .gt-empty-card
      .heading
        %h2 New Module

        - if @semester.present?
          = link_to semester_path(@semester), class: 'icon-button light' do
            %i.fa-solid.fa-arrow-left
            %span Back

      .body
        = render 'form'