.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.5rem;

  .icon-button {
    font-size: 1rem;
    size: $text;
  }

  @media (max-width: $breakpoint-sm) {
    font-size: 1rem;
  }
}

.section-heading {
  border-bottom: 2px solid $line-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  h1 {
    margin: 0;
  }
}

.chart-container {
  display: flex;
  flex: 1 1;
  width: 100%;
  // min-height: 300px;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  canvas {
    position: absolute;
  }
}

.gt-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  margin: 0.5rem 0;

  .exam-row, .timelog-row {
    text-align: left;

    td {
      padding: 0.5rem;
      background-color: $bg-half-light;
    }

    td:first-child {
      border-left: 1px solid $bg-light;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
    }

    td:last-child {
      border-right: 1px solid $bg-light;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
  }
}

.th-content {
  display: inline-flex;
  gap: 0.5rem;
}

.stat {
  font-size: 2rem;
}

.center {
  text-align: center;
  a {
    display: inline-block;
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: $text-muted;
  font-size: 0.9rem;
  margin: 0.5rem 0;

  &::before,
  &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid $line-color;
  }

  &::before {
      margin-right: 0.5rem;
  }

  &::after {
      margin-left: 0.5rem;
  }
}

.md {
  max-width: $breakpoint-lg;
  margin: 0 auto;

  .title-section {
    h1 {
      margin: 0;
    }
    margin-bottom: 0.5rem;
  }

  h2 {
    border-bottom: 1px solid $bg-light;
  }
}

.copy-text-box {
  @include card;

  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  max-width: 100%;
  border: 1px solid $bg-light;
  padding: 0.5rem;
  margin: 0.5rem 0;

  span {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $text-muted;
    border-right: 1px solid $bg-light;
    padding-right: 0.5rem;
  }

  button {
    flex-shrink: 0;
    margin-left: 0.5rem;
    background-color: $bg-half-light;
  }

  .copy-success {
    width: fit-content;
  }
}