.page-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $line-color;
  margin-bottom: 10px;

  .left-button,
  .right-button {
    flex: 1 1 0;
    display: flex; 
      
  }

  .right-button {
    justify-content: flex-end;
  }

  h1 {
    flex: 1 1 auto;
    margin: 0;
    text-align: center;
  }
}

.section-heading {
  border-bottom: 2px solid $line-color;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  h1 {
    margin: 0;
  }
}

.chart-container {
  display: flex;
  flex: 1 1;
  width: 100%;
  min-height: 300px;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;

  canvas {
    position: absolute;
  }
}

.gt-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  margin: 10px 0;

  .exam-row, .timelog-row {
    text-align: left;

    td {
      padding: 8px;
      background-color: $bg-light;
      border-top: 1px solid $bg-light;
      border-bottom: 1px solid $bg-light;
    }

    td:first-child {
      border-left: 1px solid $bg-light;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    td:last-child {
      border-right: 1px solid $bg-light;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
}

.th-content {
  display: inline-flex;
  gap: 0.5rem;
}

.stat {
  font-size: 40px;
}

.center {
  text-align: center;
  a {
    display: inline-block;
  }
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: $font-secondary-color;
  font-size: 0.9rem;
  margin: 0.5rem 0;

  &::before,
  &::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid $line-color;
  }

  &::before {
      margin-right: 10px;
  }

  &::after {
      margin-left: 10px;
  }
}