.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $breakpoint-lg;
  gap: 6rem;
  margin: 6rem auto;
  line-height: 1.5;

  .front {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .title-and-tag {
      text-align: center;

      .site-name {
        font-size: 3rem;
      }

      .tagline {
        color: $text-muted;
        font-size: 1.5rem;
      }
    }
  }

  .main-action {
    font-size: 1.5rem;
    border-radius: $roundness;
    padding: 0.5rem 2rem;
  }

  .features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
    }
  }

  .github {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    @media (max-width: $breakpoint-sm) {
      grid-template-columns: 1fr;
    }
  }

  .gt-card p {
    margin: 0;
  }

  .screenshots {
    h2 {
      text-align: center;
      margin-bottom: 1rem;
    }
  }

  img {
    width: 100%;
    height: auto;
    border-radius: $roundness;
    box-shadow: 4px 4px 10px 4px rgba(0,0,0,0.3);
  }
}

.false-header {
  background-color: $bg-dark;

  .content {
    max-width: $breakpoint-lg;
    margin: 0.5rem auto;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    text-decoration: none;
  }

  .sitename {
    font-size: 2rem;

    h1 {
      margin: 0;
    }
  }

  .login {
    color: $text-muted;
  }
}

.logo {
  width: 64px;
  height: auto;
  .brand {
    fill: $brand;
  }
}