.module-heading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
    gap: 0;

    .name {
      font-size: 1rem;
    }
  }
}

.exams-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  .exams {
    grid-column: span 2;
  }

  @media (max-width: $breakpoint-sm) {
    .exams, .graph-split {
      grid-column: span 3;
    }
  }
}

#exam-chart {
  max-width: 200px;
  max-height: 200px;
  // aspect-ratio: 1/1;
  // height: auto;
}

.link-cards-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    @include card;

    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $text;

    &:hover {
      background-color: $bg-light;
    }

    .space-between {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}