@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
  min-height: 100dvh;
  margin: 0;
  color: $text;
  font-family: 'Inter', Roboto, sans-serif;
  font-size: $font-size;
  font-weight: 400;
}

body {
  background-color: $bg-dark;
  display: flex;
  flex-direction: row;

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  @media (max-width: $breakpoint-lg) {
    flex-direction: column;
  }
}

h1, h2, h3 {
  color: $text-bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

// To support having the sidebar and no proper header
.not-header {
  width: calc(100% - 400px); 
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    margin: 0;
  }
}

.not-header-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
  max-width: $max-page-width;
  margin: 0 auto;
  gap: 0.5rem;

  @media (max-width: $breakpoint-md) {
    padding: 0.5rem;
  }
}

@media (max-width: $breakpoint-sm) {
  .hide-on-mobile {
    display: none !important;
  }
}

.section-margin {
  margin-bottom: 1.5rem;
}

.svg {
  width: 100%;
  height: auto;

  .theme {
    fill: $brand;
  }

  .back {
    fill: $bg;
  }

  .half-light {
    fill: $bg-half-light;
  }

  .light {
    fill: $bg-light;
  }

  .dark {
    fill: $bg-dark;
    opacity: 0.5;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}