.font-secondary {
  color: $font-secondary-color;
  font-size: $secondary-size;
}

.text-brand-light {
  color: $brand-light
}

.text-bold {
  font-weight: bold;
}

.unstyle-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.icon {
  display: inline-block;
  background: none;
  border: none;
  color: $font-color;
  padding: 0;
}