- cache [current_user] do  
  .stats-container 
    .stat 
      .stat-header Module Count
      .stat-content= link_to current_user.uni_modules.count, uni_modules_path
    .stat 
      .stat-header Average Score
      .stat-content= number_with_precision(current_user.average_score, precision: 2) + '%'
    .stat 
      .stat-header Achieved Score
      .stat-content= number_with_precision(current_user.achieved_score, precision: 2) + '%'
    .stat 
      .stat-header Exams
      .stat-content= current_user.exams.count