.gt-empty-card
  .heading
    .mini-stat
      .title Minutes Spent
      .figure= subject.total_minutes

    = form_with url: request.path,
                method: :get,
                local: true,
                html: { class: "gt-form cumulative-toggle-form" } do |f|

      = f.select :cumulative,
          [["Cumulative", "true"], ["Daily", "false"]],
          { selected: params[:cumulative] || "true" },
          { onchange: "this.form.submit()", class: "cumulative-dropdown text-muted" }

  .body
    .chart-container
      = line_chart time_path.call, curve: false, legend: false, width: "100%", height:"300px", library: { responsive: true, maintainAspectRatio: false }