-# Stats
= render partial: 'shared/dashboard_stats'

-# Graph on left
= render partial: 'shared/time_chart', locals: { subject: current_user, time_path: -> { time_dashboard_path(cumulative: params[:cumulative], date_since: params[:date_since]) }, date_since: params[:date_since] }

-# Years
.gt-empty-card
  .heading
    %h3 Years
  .body
    .link-cards-list
      - @years.each do |year|
        = render partial: 'shared/year_card', locals: { year: year }

      = link_to '+ New Year', new_year_path, class: 'card-button'