.landing
  .front
    .title-and-blurb
      %h1.site-name ModuleMate
      %span.font-secondary Track study time, manage upcoming exams, record scores, and calculate final grades.

    .options
      = link_to "Get Started", new_user_session_path, class: 'link-button main-action'

  .features 
    .gt-card
      %h3 Track Time

      %p.small Boost your productivity by keeping track of the amount of time you spend on different modules. Easily record short study sessions with the Quicklog feature.

    .gt-card
      %h3 Manage Exams 

      %p.small Organise exam information into one place and have ModuleMate tell you what is coming up next and what matters most.

    .gt-card 
      %h3 Record Scores

      %p.small Simply enter your scores and their weightings and let ModuleMate calculate your achieved score, and what you need to reach your target.

  .screenshots
    %p Screenshots here

  .github 
    .left 
      = inline_svg "github.svg", class: "svg"
    .right
      %h2 Open Source 
      %p This project began as a personal tool for the original developer, but it’s open for anyone to explore and improve. Whether you’d like to add a feature, fix a bug, or just learn from the code, contributions are welcome!
      .action
        = link_to "https://github.com/Turnlings/module-mate", target: "_blank", rel: "noopener", class: "link-button" do
          %i.fab.fa-github
          View on GitHub
