footer {
  background-color: $bg-half-light;
  border-top: 1px solid $bg-light;
  padding: 10px;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: inherit;
  }

  @media (max-width: $breakpoint-lg) {
    width: 100%; 
    margin: 0;
  }

  @media (max-width: $breakpoint-sm) {
    flex-direction: column;
  }
}