header {
  background-color: $sidebar;
  width: 360px;
  border-right: 1px solid $bg-light;
  flex-shrink: 0;
  padding: 1rem;
  height: 100vh;
  overflow-y: auto;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .side-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .title {
      font-size: 2.5rem;
      line-height: 2.5rem;

      @media (max-width: $breakpoint-sm) {
        font-size: 2rem;
        line-height: 2rem;
      }
    }

    .account {
      font-size: $secondary-size;
      display: flex;
      justify-content: space-between;
      align-items: center; 

      .profile {
        order: 1;
      }
      .moon { order: 2;}

      @media (max-width: $breakpoint-lg) {
        font-size: 1.5rem;
        justify-content: end;
        gap: 1rem;

        .profile { 
          order: 2;

          span {
            display: none;
          }
        }
        .moon { order: 1;}
      }
    }

    @media (max-width: $breakpoint-lg) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .side-content {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    
    @media (max-width: $breakpoint-lg) {
      display: none;
    }
  }

  .account-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $bg-half-light;
    color: $font-color;
    text-decoration: none;

    .profile {
      &:hover {
        text-decoration: none;
        color: $text-muted;
      }
    }
  }

  a {
    color: $font-color;
    text-decoration: none;
  }

  .due-date {
    color: $font-secondary-color;
    font-style: italic;
  }

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    max-width: 100%;
    border-right: none;
    position: relative;
    height: fit-content;
  }

  @media (max-width: $breakpoint-md) {
    padding: 0.5rem;
  }
}

.module-list, .upcoming-assessments {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: $bg-half-light;
    color: $font-color;
    text-decoration: none;

    &:hover {
      background-color: $bg-light;
    }
  }

  .card-heading {
    margin-bottom: 0;
  }

  .module-selected {
    background-color: $bg-light;
  }
}

.name-row {
  display: flex;
  justify-content: space-between;

  .mod-code {
    color: $text-muted
  }

  .mod-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.date-row {
  display: flex;
}

@media (max-width: $breakpoint-lg) {
  .show-lg {
    display: none !important;
  }
}

@media (min-width: $breakpoint-lg) {
  .hide-lg {
    display: none !important;
  }
}