@mixin card {
  padding: $roundness;
  border-radius: $roundness;
  background-color: $bg;
  max-width: 100%;
  box-shadow: 
    inset 0 1px 2px $bg-light,
    0 4px 6px $shadow;

  html[data-theme="light"] & {
    background-color: $bg-dark;
  }
}