:root {
  --sidebar: hsl(210, 2%, 10%);
  --bg-dark: hsl(210, 2%, 12%);
  --bg: hsl(210, 2%, 14%);
  --bg-half-light: hsl(210, 2%, 16%);
  --bg-light: hsl(210, 2%, 20%);
  --shadow: hsl(210, 2%, 5%);

  --brand: hsl(210, 80%, 30%);
  --brand-light: hsl(210, 80%, 50%);

  --text-bold: hsl(0, 0%, 95%);
  --text: hsl(0, 0%, 90%);
  --text-muted: hsl(0, 0%, 60%);
  --text-button: hsl(0, 0%, 90%);

  --success: hsl(120, 80%, 30%);
  --warning: hsl(50, 80%, 30%);
  --danger: hsl(0, 80%, 30%);

  // Chartkick colours
  --chart-color-1:  #00538F;
  --chart-color-2:  #8a0f0f;
  --chart-color-3:  #8a750f;
  --chart-color-4:  #0F8A5F;
  --chart-color-5:  #4B2E83;
  --chart-color-6:  #8A4F0F;
  --chart-color-7:  #1291a4;
  --chart-color-8:  #043141;
  --chart-color-9:  #971183;
  --chart-color-10: #5F8A0F;
  --chart-color-11: #8A2F4F;
  --chart-color-12: #1F4F8A;
  --chart-color-13: #7A6A0F;
  --chart-color-14: #0F8A7A;
  --chart-color-15: #5A3F8A;
  --chart-color-16: #0F5A8A;
  --chart-color-17: #8A3F0F;
  --chart-color-18: #2F8A3F;
  --chart-color-19: #6A0F8A;
  --chart-color-20: #3F5A8A;

  // Bootstrap overrides
  --bs-secondary-color: var(--text-muted);
  --bs-modal-color: var(--text);
  --bs-modal-bg: var(--bg-half-light);
}

[data-theme="light"] {
  --sidebar: hsl(210, 2%, 90%);
  --bg-dark: hsl(210, 2%, 88%);
  --bg: hsl(210, 2%, 87%);
  --bg-half-light: hsl(210, 2%, 85%);
  --bg-light: hsl(210, 2%, 83%);
  --shadow: hsl(210, 2%, 40%);

  // The same in lightmode
  --brand: hsl(210, 80%, 50%);
  --brand-light: hsl(210, 80%, 50%);

  --text-bold: hsl(0, 0%, 5%);
  --text: hsl(0, 0%, 10%);
  --text-muted: hsl(0, 0%, 40%);
  --text-button: hsl(0, 0%, 90%);

  --success: hsl(120, 100%, 40%);
  --warning: hsl(50, 100%, 40%);
  --danger: hsl(0, 100%, 40%);

  // Chartkick colours
  --chart-color-1: #1980e6;
  --chart-color-2: #cc0000;
  --chart-color-3: #ccaa00;
  --chart-color-4: #00cc00;
  --chart-color-5: #C266C2;
  --chart-color-6:  #E67300;
  --chart-color-7:  #00A3B8;
  --chart-color-8:  #006F8C;
  --chart-color-9:  #CC2FAF;
  --chart-color-10: #7ACC00;
  --chart-color-11: #CC4F7A;
  --chart-color-12: #4D8FE6;
  --chart-color-13: #B8A600;
  --chart-color-14: #00B8A3;
  --chart-color-15: #7A66CC;
  --chart-color-16: #0077B8;
  --chart-color-17: #CC6600;
  --chart-color-18: #4DCC66;
  --chart-color-19: #9A33CC;
  --chart-color-20: #5F7FCC;

  // Bootstrap overrides
  --bs-secondary-color: var(--text-muted);
}
