$sidebar: var(--bg);
$bg-dark: var(--bg-dark);
$bg: var(--bg);
$bg-half-light: var(--bg-half-light);
$bg-light: var(--bg-light);
$shadow: var(--shadow);

$brand: var(--brand);
$brand-light: var(--brand-light);

$text-bold: var(--text-bold);
$text: var(--text);
$text-muted: var(--text-muted);
$text-button: var(--text-button);

$success: var(--success);
$warning: var(--warning);
$danger: var(--danger);

$font-size: 16px;
$secondary-size: 0.9rem;
$roundness: 10px;

$max-page-width: 1400px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

/* Deprecated styles to be fazed out */

$header-color: $bg-dark;
$background-color: $bg;
$line-color: $bg-light;
$font-color: $text;
$font-secondary-color: $text-muted;
$highlight-color: $brand;
$link-hover-color: #cccccc;
$delete-color: $danger;