.alert-bar {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  border-radius: 0.5rem;
}

.ab-notice {
  color: $success;
  border: 2px solid $success;
  background-color: color-mix(in srgb, $success 10%, transparent);
}

.ab-danger {
  color: $danger;
  border: 2px solid $danger;
  background-color: color-mix(in srgb, $danger 10%, transparent);
}

.ab-warning {
  color: $warning;
  border: 2px solid $warning;
  background-color: color-mix(in srgb, $warning 10%, transparent);
}

.text-danger {
  color: $danger;
}

.chip-success {
  display: flex;
  align-items: center;
  border: 1px solid $success;
  border-radius: 15px;
  color: $success;
  font-size: $secondary-size;
  line-height: $secondary-size;
  margin-left: 12px;
  padding: 2px 8px;
}

.chip-warning {
  display: flex;
  align-items: center;
  border: 1px solid $warning;
  border-radius: 15px;
  color: $warning;
  font-size: $secondary-size;
  line-height: $secondary-size;
  margin-left: 12px;
  padding: 0 8px;
}

.chip-danger {
  display: flex;
  align-items: center;
  border: 1px solid $danger;
  border-radius: 15px;
  color: $danger;
  font-size: $secondary-size;
  line-height: $secondary-size;
  margin-left: 12px;
  padding: 0 8px;
}

[data-theme="light"] {
  .chip-success { 
    color: $text-button;
    background-color: $success;
  }

  .chip-warning {
    color: $text-button;
    background-color: $warning;
  }

  .chip-danger {
    color: $text-button;
    background-color: $danger;
  }
}