.link-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: $text-button;
  text-decoration: none;
  background-color: $brand;
  padding: 2px 1rem;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;

  &:hover {
    background-color: $brand-light;
  }
}

.icon-button {
  background: none !important;
  border: none;
  color: $font-color;
  cursor: pointer;
  padding: 0;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
    background: none !important;
    padding: 0;
    border-radius: 0;
    align-items: center;
  }

  &:hover {
    color: $link-hover-color;
  }
}

.button-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-button {
  @include card;
  color: $text-muted;
  text-align: center;
  text-decoration: none;
  font-size: $secondary-size;
  transition: all 0.2s ease;
  display: flex;
  justify-content: center;

  &:hover {
    color: $text;
    background-color: $bg-light;
  }
}

.unselected {
  color: $font-secondary-color;

  &:hover {
    color: $link-hover-color;
  }
}

.delete {
  background-color: $delete-color;
}