.link-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: $text-button;
  text-decoration: none;
  background-color: $brand;
  padding: 2px 1rem;
  border-radius: 5px;
  border: none;
  transition: all 0.2s ease;
  box-shadow: 0 2px 6px $shadow;

  &:hover {
    background-color: $brand-light;
    box-shadow: 0 4px 6px $shadow;
  }
}

.icon-button {
  background: none !important;
  border: none;
  color: $font-color;
  cursor: pointer;
  padding: 0;

  a {
    color: inherit;
    text-decoration: none;
    background: none !important;
    padding: 0;
    border-radius: 0;
  }

  &:hover {
    color: $link-hover-color;
  }
}

.button-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card-button {
  @include card;
  color: $text-muted;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  transition: all 0.2s ease;

  &:hover {
    color: $text;
    box-shadow: 
      inset 0 1px 2px $bg-light,
      0 2px 6px $shadow;
  }
}

.unselected {
  color: $font-secondary-color;

  &:hover {
    color: $link-hover-color;
  }
}

.delete {
  background-color: $delete-color;
}