.gt-card {
  @include card;

  position: relative;
}

.gt-card-link {
  a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

.card-heading {
  color: $font-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
  }
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}