.countdown-card{
  @include card;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  container-type: inline-size;
  transition: transform 0.3s ease-in-out;
  h1{
    font-size: clamp(20px,70cqw, 7rem);
  }

  h3{
    @media (max-width: $breakpoint-sm) {
      color: $text-muted;
      font-size: 0.8rem;
    }
  }
}


.countdown-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}