.countdown-card{
  @include card;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  container-type: inline-size;
  h1{
    font-size: clamp(20px,70cqw, 7rem);
  }
}

.countdown-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}