.countdown-card{
  @include card;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 25%;
  h1{
    font-size: 5rem;
  }
}

.countdown-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}