.form-heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  margin-bottom: 0.5rem;

  h1, h2, h3 {
    margin: 0;
  }
}

.gt-form {
  input[type="text"],
  input[type="email"],
  input[type="password"], 
  input[type="number"],
  input[type="submit"],
  input[type="date"],
  input[type="datetime-local"],
  select {
    height: 30px;
    width: 100%;
    padding: 0 0.5rem;
    outline: none;
    border-radius: 5px;
    background-color: $bg-half-light;
    color: $font-color;
    border: none;
    margin-bottom: 4px;
    color-scheme: dark;
  }

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: $brand;
    cursor: pointer;
    border-radius: 4px; /* slightly rounded edges */
    border: none;
    background-color: $bg-half-light;
  }

  .checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.5rem;
  }

  input[type="submit"] {
    color: $text-button;
    background-color: $highlight-color;
    border: none;
    padding: 2px 10px;
    border-radius: 5px;
    margin-top: 4px;
    transition: all 0.2s ease;
    margin-top: 0.5rem;
    box-shadow: 0 2px 6px $shadow;

    &:hover {
      background-color: $brand-light;
      box-shadow: 0 4px 6px $shadow;
    }
  }

  .split-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
  }
}

.form-card-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[data-theme="light"] {
  .gt-form {
    input[type="text"],
    input[type="email"],
    input[type="password"], 
    input[type="number"],
    input[type="submit"],
    input[type="date"],
    input[type="datetime-local"],
    select {
    color-scheme: light;
    }
  }
}