.pagination-box {
  border: 1px solid $bg-light;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  margin: 0 5px;

  .disabled {
    color: $text-muted;
  }

  .active {
    color: $text-muted;
  }

  .waves-effect {
    background-color: $bg-light;
    border-radius: 4px;

    a {
      color: $text;
      text-decoration: none;
    }

    &:hover {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.28);
    }
  }
}