.stats-container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  text-align: center;
  gap: 1rem;

  .stat {
    @include card;
  }

  .stat-header {
    color: $text-muted;
    font-size: $secondary-size;
  }

  .stat-content {
    color: $brand-light;
    font-size: 2rem;
    line-height: 2rem;
    text-decoration: none;

    a {
      color: inherit;
      text-decoration: inherit;
    }
  }


  @media (max-width: $breakpoint-sm) {
    .stat-header {
      font-size: $secondary-size;
    }

    .stat-content {
      font-size: 1rem;
    }
  }
}

.mini-stat {
  display: flex;
  flex-direction: column;
  .title {
    color: $text-muted;
    font-size: $secondary-size;
  }

  .figure {
    color: $brand-light;
    font-size: 2rem;
    line-height: 2rem;
  }
}