.stats-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  margin-bottom: 0.5rem;
  gap: 0.5rem;

  .stat {
    padding: $roundness;
    border-radius: $roundness;
    border: 1px solid $line-color;
    max-width: 100%;
  }

  .stat-header {
    color: $text;
    font-size: 1rem;
  }

  .stat-content {
    color: $brand-light;
    font-size: 2rem;
    text-decoration: none;

    a {
        color: inherit;
        text-decoration: inherit;
    }
  }


  @media (max-width: $breakpoint-sm) {
    .stat-header {
      font-size: $secondary-size;
    }

    .stat-content {
      font-size: 1rem;
    }
  }
}