.threshold {
    width: fit-content;

    @media (max-width: $breakpoint-sm) {
        width: 100%;
    }

    .flex-row {
        border-bottom: 1px solid $bg-half-light;
    }
}

.align-top {
    align-items: flex-start;
}

.years-frame {
    flex: 1 1 auto;
    min-width: 0;

    @media (max-width: $breakpoint-sm) {
        width: 100%;
    }
}