.cumulative-toggle-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  .background {
    border: 2px solid $bg-light;
    border-radius: 1rem;
    height: calc(1rem + 4px);
    background-color: $bg-light;
  }

  .toggle-true{
    border: none;
    border-radius: 1rem;
    margin-left: 1rem;
    width: 1rem;
    height: 1rem;
    background-color: $brand;
    padding: 0;
  }

  .toggle-false{
    border: none;
    border-radius: 1rem;
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
    background-color: $brand;
    padding: 0;
  }
}