$header-color: #000103;
$background-color: #333138;
$line-color: #515052;
$font-color: #fffffa;
$font-secondary-color: #878787;
$highlight-color: #00538F;
$link-hover-color: #cccccc;
$delete-color: rgb(200, 0, 0);
$font-size: 20px;
$roundness: 10px;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;