@import "variables";

$header-height: 60px;

header {
    height: $header-height;
    width: 100%;
    line-height: 60px;
    background-color: $header-color;
    border-bottom: 1px solid $line-color;

    a {
        color: $font-color;
        text-decoration: none;
    }

    form {
        display: inline;
    }

    button {
        height: 50px;
        border: none;
        background-color: $header-color;
        color: $font-color;
        text-decoration: none;
        display: inline;
    }

    .title {
        display: inline-block;
        font-size: 2rem;
    }

    .header-links {
        height: $header-height;
        line-height: $header-height;
        float: right;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }
}