.form-card-container  
  = link_to uni_module_path(@uni_module), class:'unstyle-link font-secondary mb-1' do
    %i.fa-solid.fa-arrow-left
    %span="Back to #{@uni_module.code}"

  .gt-card
    .form-heading
      %h1 New exam

    = render 'form'