.form-card-container
  .gt-card.gt-form
    .form-heading
      .icon-button
        = link_to @year do
          %i.fa-solid.fa-arrow-left
      %h1 Editing Year

    = render 'form'

  .gt-card
    %h2= "Delete " + @year.name 
    = button_to 'Delete', year_path(@year), method: :delete, data: { turbo_confirm: 'Are you sure?' }, class: 'link-button delete w-100'