.form-card-container
  = turbo_frame_tag "years" do
    .gt-empty-card
      .heading
        %h3 New Year

        = link_to dashboard_path, class: 'icon-button light' do
          %i.fa-solid.fa-arrow-left
          %span Back

      .body
        = render 'form'