%meta{name: "description", content: "Boost productivity by tracking study hours, managing exams, recording scores, and staying motivated to achieve more."}
%meta{property: "og:title", content: "ModuleMate"}
%meta{property: "og:description", content: "Track study time, manage upcoming exams, record scores, and calculate final grades."}
%meta{property: "og:url", content: "https://modulemate.app"}