%meta{name: "description", content: "Boost productivity by tracking study hours, managing exams, recording scores, and staying motivated to achieve more."}
%meta{property: "og:title", content: "ModuleMate"}
%meta{property: "og:description", content: "Track study time, manage upcoming exams, record scores, and calculate final grades."}
%meta{property: "og:url", content: "https://modulemate.app"}

// Icons
= favicon_link_tag 'icons/favicon.ico'

%link{ rel: "icon", type: "image/png", sizes: "32x32", href: asset_path("icons/favicon-32x32.png") }
%link{ rel: "icon", type: "image/png", sizes: "16x16", href: asset_path("icons/favicon-16x16.png") }
%link{ rel: "apple-touch-icon", sizes: "180x180", href: asset_path("icons/apple-touch-icon.png") }
%link{ rel: "manifest", href: asset_path("icons/site.webmanifest") }
%link{ rel: "icon", type: "image/png", sizes: "192x192", href: asset_path("icons/android-chrome-192x192.png") }
%link{ rel: "icon", type: "image/png", sizes: "512x512", href: asset_path("icons/android-chrome-512x512.png") }